.header-img {
  position: relative;
}

.header-text {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px gray;
  font-weight: bold;
  font-size: 2em;
  left: 50%;
  top: 75%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}