.header-img {
  position: relative;
}

.header-text {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px gray;
  left: 50%;
  top: 75%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.solid_line {
  /*上と下にグレイの1pxの線を引きます*/
  border-top: solid 1.5px gray;
  border-bottom: solid 1.5px gray;
}

body {
  padding-top:54px;
}

.jumbotron-extend {
  background-image: url("images/header_001.jpg");
  background-size: cover;
  background-position: center 60%;
  margin: 0px
}

.white-text {
  color: white;
  text-shadow: 1px 1px 2px gray;
}

.bg-img {
  background-image: url("images/shattered.png");
}

.container-extend {
  background-color: white;
}