.d-sp{
  display: none;
}
@media (max-width: 768px) {
  .d-sp{
    display: block;
  }
}
.d-pc{
  display: block;
}
@media (max-width: 768px) {
  .d-pc{
    display: none;
  }
}
.wrapper{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (max-width: 768px) {
  .wrapper{
    padding-top: 1rem;
    padding-bottom: 6rem;
  }
}
.contents-wrapper{
  background-color: #FFFFFF;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .contents-wrapper{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.header-title {
  position: relative;
}
.header-title p {
  position: absolute;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow:2px 2px 5px #000000;
  top: 1rem;
  left: 2rem;
}
@media (max-width: 768px) {
  .header-title p {
    position: absolute;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow:2px 2px 5px #000000;
    top: 1rem;
    left: 1rem;
  }
}
@media (max-width: 768px) {
  .navbar-brand-extend{
    font-size: 1rem;
    font-weight: bold;
  }
}
.header-title img {
  width: 100%;
}
.order-box{
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  .order4 {
    order: 4;
  }
  .order5 {
    order: 5;
  }
}
.chapter-title{
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .chapter-title{
    font-size: 1.25rem;
    font-weight: bold;
  }
}
.chapter{
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .5rem;
  border-left-color: #2f4691;
  border-radius: .25rem;
}
@media (max-width: 768px) {
  .chapter{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #eee;
    border-left-width: .5rem;
    border-left-color: #2f4691;
    border-radius: .25rem;
  }
}
.btn-pos{
  position: absolute;
}
.nav-item a {
  color: #ffffff;
}
.nav-item a:visited {
  color: #ffffff;
}
.nav-item a:hover {
  text-decoration: none;
  color: #ffffff;
}
.footer-wrapper{
  border-top: 1px solid #eee;
  text-align: center;
  background-color: #ffffff;
  color: #212529;
  padding: 3rem;
}
@media (max-width: 768px) {
  .footer-wrapper{
    font-size: .8rem;
    text-align: center;
    background-color: #2f4691;
    color: #FFFFFF;
    padding: 1rem;
  }
}
.point h3{
  font-size: 1.25rem;
}
.point p{
  font-size: 1rem;
}
@media (max-width: 768px) {
  .point h3{
    font-size: 1.5rem;
    padding-bottom: 0;
  }
  .point p{
    font-size: 1rem;
    padding-bottom: 0;
  }
}