#wrapper{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.m-960{
  width: 960px;
  padding: 60px 0;
}

iframe.youtube-video{
  border: 0;
  width: 480px;
  height: 300px;
}

.navbar-wrapper{
  width: 100%;
}

.navbar-color{
  background-color: #00c878;
}

.navbar-extend{
  width: 960px;
  padding: 0px;
  margin: auto;
}

.navbar-brand-extend{
  padding-top: .8rem;
  padding-bottom: .8rem;
  font-size: 1.5rem;
  font-family: Righteous;
  font-weight: bold;
}

.jumbotron-extend{
  background-image: url("images/header_001.jpg");
  background-size: cover;
  background-position: center 60%;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.header-img{
  padding-left: 43.2%;
  padding-right: 43.2%;
}

.jumbotron h1{
  color: white;
  text-shadow: 1px 1px 2px gray;
}

.container-extend{
  width: 960px;
  padding: 60px 0;
  margin: 0 auto;
}

.menu-wrapper{
  width: 100%;
  border-bottom: solid 1px #dcdcdc;
}

.menu-bar{
  width: 960px;
  margin: 0 auto;
  padding-top: .58rem;
  padding-bottom: .58rem;
}

.homeicon{
  color: #b2b2b2;
  font-size: 2.5rem;
}

.article-header{
  margin-bottom: 4rem;
}

.article-body{
  color: #666666;
}

.article-time{
  color: #999999;
  font-size: .8rem;
}

.article-title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.article-title a {
  color: #000000;
}

.article-title a:visited {
  color: #000000;
}

.article-title a:hover {
  text-decoration: none;
  color: #999999;
}

.article-footer{
  margin-top: 3rem;
  font-size: .8rem;
  color: #989797;
}

.article-box{
  padding-top: 5rem;
  margin-top: 5rem;
  border-top: solid 1px #dcdcdc;
}

.favorite{
  display: inline-block;
  margin-right: 2rem;
}

.favorite-icon{
  color: #f57975;
}

.tag{
  display: inline-block;
}

.tag-icon{
  color: #3771ac;
}

.index-navigator{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sidemenu{
}

.side-wrapper{
  padding-bottom: 4rem;
}

.side-wrapper a {
  color: #666666;
}

.side-wrapper a:visited {
  color: #666666;
}

.side-wrapper a:hover {
  text-decoration: none;
  color: #999999;
}

.profile{
  margin-bottom: 2rem;
  border-bottom: solid 1px #ebebeb;
  text-align: center;
}

.profile-img{
  margin-bottom: 1.5rem;
}

.profile-name{
  color: #666666;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.profile-ruby{
  color: #999999;
  margin-bottom: 1.5rem;
}

.profile-job{
  color: #666666;
  margin-bottom: 2rem;
}

.profile-maintext{
  font-size: .9rem;
  color: #999999;
  margin-bottom: 2rem;
}

.side-title{
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.side-body{
  text-decoration: none;
  color: #666666;
  font-size: .9rem;
  margin-top: .5rem;
}

.pagination-active{
  background-color: #376c9c;
  border-color: #376c9c;
}

.footer-wrapper{
  width: 100%;
  border-top: solid 1px #dcdcdc;
}

.footer-text{
  width: 960px;
  margin: 0 auto;
  color: #999999;
  font-size: .8rem;
  text-align: right;
  padding: 30px 0 60px 0;
}