/*
 *ヘッダ
 */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

/*containerの幅設定*/
@media (min-width: 1200px){
  .container {
    max-width: 960px;
  }
}
/*ナビゲーションバーの設定*/
.navbar-extend {
  padding: .5rem;
}
/*ジャンボトロンの画像設定*/
.jumbotron {
  background-image: url("images/header_001.jpg");
  background-size: cover;
  background-position: center 60%;
  margin-bottom: 0;
}

.img-rsp{
width: 7rem;
}

@media (min-width: 768px){
  .img-rsp {
    width: 8rem;
  }
}
@media (min-width: 992px){
  .img-rsp {
    width: 9rem;
  }
}

.jumbotron h1{
  color: white;
  text-shadow: 1px 1px 2px gray;
  font-size: 2rem;
}

@media (min-width: 768px){
  .jumbotron h1{
    color: white;
    text-shadow: 1px 1px 2px gray;
    font-size: 2.5rem;
  }
}

.homeicon{
  color: #b2b2b2;
  font-size: 2rem;
}
@media (min-width: 768px){
  .homeicon{
    color: #b2b2b2;
    font-size: 2.5rem;
  }
}
/*
 * ブログの名前と説明
 */

.blog-title {
  font-size: 1.25rem;
  font-weight: bold;
}
@media (min-width: 768px){
  .blog-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

/*
 * ブログの投稿
 */
.blog-post-first{
}

.blog-post {
  padding-top: 5rem;
  margin-top: 5rem;
  border-top: solid 1px #dcdcdc;
}

.blog-text{
  font-size: 1.15rem;
}
@media (min-width: 768px){
  .blog-text{
    font-size: 1rem;
  }
}

.article-header{
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 768px){
  .blog-post-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
}

.blog-post-title a {
  color: #000000;
}

.blog-post-title a:visited {
  color: #000000;
}

.blog-post-title a:hover {
  text-decoration: none;
  color: #999999;
}

.blog-post-meta {
  color: #999999;
  font-size: 1rem;
}
@media (min-width: 768px){
  .blog-post-meta {
    color: #999999;
    font-size: .8rem;
  }
}
.article-footer{
  margin-top: 3rem;
  font-size: 1rem;
  color: #989797;
}
@media (min-width: 768px){
  .article-footer{
    font-size: .8rem;
  }
}

.favorite{
  display: inline-block;
  margin-right: 2rem;
}

.favorite-icon{
  color: #f57975;
}

.tag{
  display: inline-block;
}

.tag a {
  color: #989797;
}

.tag a:visited {
  color: #989797;
}

.tag a:hover {
  text-decoration: none;
  color: #376c9c
}

.tag-icon{
  color: #3771ac;
}

.page-navigator{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/*プロフィール*/
.profile{
  margin-bottom: 2rem;
  border-bottom: solid 1px #ebebeb;
  text-align: center;
}

.profile-img{
  width: 8rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px){
  .profile-img {
    width: 10rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 992px){
  .profile-img {
    width: 13rem;
    margin-bottom: 1.5rem;
  }
}

.profile-name{
  color: #666666;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (min-width: 768px){
  .profile-name {
    color: #666666;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px){
  .profile-name {
    color: #666666;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.profile-ruby{
  color: #999999;
  margin-bottom: 1.5rem;
}

.profile-job{
  color: #666666;
  margin-bottom: 2rem;
}

.profile-maintext {
  color: #999999;
  margin-bottom: 2rem;
  font-size: .9rem;
}

.side-wrapper{
  padding-bottom: 4rem;
}

.side-wrapper a {
  color: #666666;
}

.side-wrapper a:visited {
  color: #666666;
}

.side-wrapper a:hover {
  text-decoration: none;
  color: #999999;
}
.side-title{
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 1rem;
}
.side-text{
  font-size: .9rem;
  text-decoration: none;
  color: #666666;
  margin-top: .5rem;
}


/*フッタ*/
.blog-footer{
  border-top: solid 1px #dcdcdc;
}
.blog-footer-text {
  color: #999999;
  font-size: .8rem;
  text-align: right;
  padding: 30px 0 60px 0;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}