/*Material Iconのサイズ*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

.navbar-wrapper{
  width: 100%;
}

.navbar-extend{
  width: 960px;
  padding: 0px;
  margin: auto;
}

.navbar-brand-extend{
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.jumbotron-extend {
  background-image: url("images/header_001.jpg");
  background-size: cover;
  background-position: center 60%;
  margin: 0 auto;
}

.header-img {
  padding-left: 45%;
  padding-right: 45%;
}

.white-text {
  color: white;
  text-shadow: 1px 1px 2px gray;
}

.container-extend {
  width: 960px;
  padding: 60px 0;
  margin: 0 auto;
}

.menu-wrapper{
  width: 100%;
  border-bottom: solid 1px #dcdcdc;
}

.menu-bar{
  width: 960px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home-icon{
  color: #b2b2b2;
}

.article-header{
margin-bottom: 4rem;
}

.article-body{
  color: #666666;
}

.article-time{
  color: #999;
  font-size: .8rem;
}

.article-title{
  font-size: 2rem;
  font-weight: bold;
}

.article-footer{
  margin-top: 3rem;
  font-size: .8rem;
  color: #989797;
}

.article {
  padding-top: 5rem;
  margin-top: 5rem;
  border-top: solid 1px #dcdcdc;
}

.favorite{
  display: inline-block;
  margin-right: 2rem;
}

.favorite-icon{
  color: #f57975;
}

.tag{
  display: inline-block;
}

.tag-icon{
  color: #3771ac;
}

.index-navigator{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sidemenu{
}

.side-wrapper{
  padding-bottom: 4rem;
}

.profile{
  margin-bottom: 2rem;
  border-bottom: solid 1px #ebebeb;
  text-align: center;
}

.profile-img{
  margin-bottom: 1.5rem;
}

.profile-name{
  color: #666666;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.profile-ruby{
  color: #999999;
  margin-bottom: 1.5rem;
}

.profile-job{
  color: #666666;
  margin-bottom: 2rem;
}

.profile-maintext{
  font-size: .9rem;
  color: #999999;
  margin-bottom: 2rem;
}

.side-title{
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.side-body{
  text-decoration: none;
  color: #666666;
  font-size: .9rem;
  margin-top: .5rem;
}

.footer-wrapper{
  width: 100%;
  border-top: solid 1px #dcdcdc;
}

.footer-text{
  width: 960px;
  margin: 0 auto;
  color: #999999;
  font-size: .8rem;
  text-align: right;
  padding: 30px 0 60px 0;
}