.container{
margin: 10rem 20rem 10rem 20rem;
}
.icon{
  width: 10%;
}
.tweet{
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: solid 1px #d3d3d3;
}
ul{
  padding: 0;
  list-style: none;
  border-top: solid 1px #d3d3d3;
  border-left: solid 1px #d3d3d3;
  border-right: solid 1px #d3d3d3;
}