html{
  overflow-y: scroll;
}
.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.icon {
  width: 100px;
}

.tweet {
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: solid 1px #d3d3d3;
}

ul {
  padding: 0;
  list-style: none;
  border-top: solid 1px #d3d3d3;
  border-left: solid 1px #d3d3d3;
  border-right: solid 1px #d3d3d3;
}

@media (max-width: 768px) {
  .container {
    margin-top: 2rem;
  }

  .icon {
    width: 80px;
  }

  .tweet {
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: solid 1px #d3d3d3;
  }
}