/*
 *ヘッダ
 */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
}

.blog-header-logo:hover {
  text-decoration: none;
}

/*containerの設定*/
.container-extend{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 576px){
  .container-extend{
    padding-top: 0;
    margin-top: 3rem;
  }
}

/*ナビゲーションバーの設定*/
.navbar-extend {
  padding: 3px 15px;
}
/*ジャンボトロンの画像設定*/
.jumbotron {
  background-image: url("images/header_001.jpg");
  background-size: cover;
  background-position: center 60%;
  margin-bottom: 0;
}

.img-rsp{
  width: 7rem;
}

@media (min-width: 768px){
  .img-rsp {
    width: 8rem;
  }
}
@media (min-width: 992px){
  .img-rsp {
    width: 9rem;
  }
}

.jumbotron h1{
  color: white;
  text-shadow: 1px 1px 2px gray;
  font-size: 28px;
}

@media (min-width: 576px){
  .jumbotron h1{
    color: white;
    text-shadow: 1px 1px 2px gray;
    font-size: 2.5rem;
  }
}

.homeicon{
  color: #b2b2b2;
  font-size: 2rem;
}
@media (min-width: 768px){
  .homeicon{
    color: #b2b2b2;
    font-size: 2.5rem;
  }
}

/*
 * ブログの名前と説明
 */

.blog-title {
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 576px){
  .blog-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.bg-img {
  background-image: url("images/shattered.png");
}
@media (min-width: 576px){
  .bg-img {
    background-image: none;
    background-color: white;
  }
}

/*
 * ブログの投稿
 */
.article-box{
  background-color: white;
  padding: 1rem;
  border-bottom: 1px;
  border-color: #e6e6e6;
  border-style: none none solid;
}
@media (min-width: 576px){
  .article-box{
    background-color: white;
    padding: 0;
    border-bottom: none;
  }
}

.blog-post-first{
}

.blog-post {
  padding-top: .5rem;
  margin-top: .5rem;
  /*border-top: solid 1px #dcdcdc;*/
}
@media (min-width: 576px){
  .blog-post {
    padding-top: 5rem;
    margin-top: 5rem;
    border-top: solid 1px #dcdcdc;
  }
}

.blog-text{
  font-size: 16px;
}
@media (min-width: 576px){
  .blog-text{
    font-size: 1rem;
  }
}

.article-header{
  margin-bottom: 1rem;
}
@media (min-width: 576px){
  .article-header{
    margin-bottom: 4rem;
  }
}

.blog-post-title {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: bold;
}
@media (min-width: 576px){
  .blog-post-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
}

.blog-post-title a {
  color: #000000;
}

.blog-post-title a:visited {
  color: #000000;
}

.blog-post-title a:hover {
  text-decoration: none;
  color: #000000;
}

@media (min-width: 576px){
  .blog-post-title a {
    color: #000000;
  }

  .blog-post-title a:visited {
    color: #000000;
  }

  .blog-post-title a:hover {
    text-decoration: none;
    color: #999999;
  }
}

.blog-post-meta {
  color: #999999;
  font-size: .8rem;
}

.article-footer{
  margin-top: 1rem;
  font-size: .9rem;
  color: #989797;
}
@media (min-width: 576px){
  .article-footer{
    margin-top: 3rem;
    font-size: .8rem;
  }
}

.favorite{
  display: inline-block;
  vertical-align:middle;
  margin-right: 2rem;
}

.favorite-icon{
  vertical-align:middle;
  color: #f57975;
}

.tag{
  display: none;
}
@media (min-width: 576px){
  .tag{
    vertical-align:middle;
    display: inline-block;
  }
}


.tag a {
  color: #989797;
}

.tag a:visited {
  color: #989797;
}

.tag a:hover {
  text-decoration: none;
  color: #376c9c
}

.tag-icon{
  vertical-align:middle;
  color: #3771ac;
}

.page-navigator{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 576px){
  .page-navigator{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
ul{
   margin-bottom: 1rem;
   margin-top: 1rem;
 }

/*プロフィール*/
.profile{
  margin-bottom: 2rem;
  border-bottom: solid 1px #ebebeb;
  text-align: center;
}

.profile-img{
  vertical-align: middle;
  width: 65px;
  margin-bottom: 0;
  margin-right: 10px;
}
@media (min-width: 576px){
  .profile-img {
    width: 10rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 992px){
  .profile-img {
    width: 13rem;
    margin-bottom: 1.5rem;
  }
}

.profile-name{
  display:inline-block;
  vertical-align: middle;
  color: #272727;
  font-size: 16px;
  font-weight: bold;
}
@media (min-width: 576px){
  .profile-name {
    color: #666666;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px){
  .profile-name {
    color: #666666;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.profile-ruby{
  color: #999999;
  margin-bottom: 1.5rem;
}

.profile-job{
  color: #666666;
  margin-bottom: 2rem;
}

.profile-maintext {
  color: #999999;
  margin-bottom: 2rem;
  font-size: 13px;
}

.profile-social-icon{
  margin-bottom: 2rem;
}

.social-icon{
  /*color: #999999;*/
  margin-right: .5rem;
  margin-left: .5rem;
}
@media (min-width: 992px){
  .social-icon{
    /*color: #999999;*/
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.side-wrapper{
  padding-bottom: 0;
}
@media (min-width: 576px){
  .side-wrapper{
    padding-bottom: 4rem;
  }
}

.side-wrapper a {
  color: #666666;
}

.side-wrapper a:visited {
  color: #666666;
}

.side-wrapper a:hover {
  text-decoration: none;
  color: #999999;
}
.side-title{
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 1rem;
}
.side-text{
  font-size: .9rem;
  text-decoration: none;
  color: #666666;
  margin-top: .5rem;
}

.archive-select{
  display: block;
  padding: 13px 18px;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 12px;
  color: #666666;
  background-color: #FFFFFF;
  background-origin: padding-box;
  border-bottom: 1px;
  border-color: #e6e6e6;
  border-style: none none solid;
  -webkit-appearance:none;
  background-repeat: no-repeat;
  background-position: 96% center;
  background-image: url("images/allow_down.png");
}

.ad-wrapper{
  margin-top: 30px;
  margin-bottom: 30px;
}

.ad-wrapper img{
  width: 300px;
  height: auto;
}
@media (min-width: 576px){
  .ad-wrapper img{
    width: 350px;
    max-width: 100%;
    height: auto;
  }
}

.profile-box{
  background-color: white;
  padding: 13px 18px;
  margin-bottom: 1rem;
  border-bottom: 1px;
  border-color: #e6e6e6;
  border-style: none none solid;
}
@media (min-width: 576px){
  .profile-box{
    background-color: white;
    padding: 0;
    border-bottom: none;
  }
}


/*フッタ*/
.blog-footer{
  background-color: #3b3b3b;
  border-top: solid 1px #dcdcdc;
}
.blog-footer-text {
  color: #989797;
  font-size: 9px;
  text-align: center;
  padding: 1rem;
}
@media (min-width: 576px){
  .blog-footer{
    background-color: #FFFFFF;
    border-top: solid 1px #dcdcdc;
  }
  .blog-footer-text {
    color: #999999;
    font-size: .8rem;
    text-align: right;
    padding: 30px 0 60px 0;
  }
}